{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/add_product.css'%}">
{% endblock %}
{% block title %}
редактор магазина {{ shop.name }}
{% endblock %}
{% block content %}
<div id="add_product">
    <form action="/add_product/{{ shop.id }}" method="POST">
        {% csrf_token %}
    <input type="text" name="name" placeholder="название товара">
    <input type="file" name="img">
    <input type="text" name="description" placeholder="описание">
    <input type="number" name="price" placeholder="цена">
    <input type="submit">
    </form>
</div>

<div class="container">
    <button onclick="add_product()">
        добавить
    </button>
    <table>
        <tr>
            <th>
                имя
            </th>
            <th>
                описание
            </th>
            <th>
                цена
            </th>
            <th>
                картинка
            </th>
            <th>
                
            </th>
        </tr>
        {% for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                <td>
                    <img alt="картинка" src="/media/{{product.img}}" class="img">
                </td>
                <td>
                    <div class="actions">
                        <button>
                            gh
                        </button>
                                        <!-- From Uiverse.io by vinodjangid07 --> 
                        <button class="bin-button">
                        <svg
                            class="bin-top"
                            viewBox="0 0 39 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                            <line
                            x1="12"
                            y1="1.5"
                            x2="26.0357"
                            y2="1.5"
                            stroke="white"
                            stroke-width="3"
                            ></line>
                        </svg>
                        <svg
                            class="bin-bottom"
                            viewBox="0 0 33 39"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <mask id="path-1-inside-1_8_19" fill="white">
                            <path
                                d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                            ></path>
                            </mask>
                            <path
                            d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                            fill="white"
                            mask="url(#path-1-inside-1_8_19)"
                            ></path>
                            <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
                            <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                        </svg>
                        </button>
                    </div>
                </td>   
            </tr>
        {% endfor %}
    </table>
</div>
<script src="{% static 'js/add_product.js' %}"></script>
{% endblock %}