<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header_settings">
            <h1 onclick="window.location.replace('/')">Название магазина</h1>
            <div class="search_frame">
                <div>
                    <form class="search_form" method="post" action="search/">
                        {% csrf_token %}
                        <input name="product_name" type="search" style="border-radius: 15px;border: 0;height: 100%;" id="search">
                        <input type="submit" style="background-color: transparent;border: 0;">
                    </form>
                    <div class="search_panel">
    
                    </div>
                </div>
                <div class="address_group"></div>
            </div>
            <div class="user_info">
                {% if user.is_authenticated %}
                <div style="background-color:white; border-radius: 50%;">
                    <svg width="40px" height="40px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M628.736 528.896A416 416 0 0 1 928 928H96a415.872 415.872 0 0 1 299.264-399.104L512 704l116.736-175.104zM720 304a208 208 0 1 1-416 0 208 208 0 0 1 416 0z"/></svg>
                </div>
                {% else %}
                <div class="authentificated">
                    <button>
                        Зарегистрироваться
                    </button> 
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    <div class="reg">
        <form action="start_login/" method="POST">
            {% csrf_token %}
            <input type="text" name="nickname">
            <input type="password" name="password">
            <input type="submit" value="Войти">
        </form>
    </div>
    <script src="{% static 'js/search.js' %}"></script>

</body>
</html>