{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css'%}">
{% endblock %}
{% block title %}
корзина
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>
            имя
        </th>
        <th>
            цена
        </th>
        <th>
            картинка
        </th>
    </tr>
    {% for product_id, product_info in products.items %}
    <tr>
        <td>
            {{ product_info.name }}
        </td>
        <td>
            {{ product_info.price }}
        </td>
        <td>
            <img src="/media/{{  product_info.img }}" >
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}