{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block title %}
Главная
{% endblock %}


{% block content %}
<main>
    <div class="row">
        <h2>Магазины</h2>
        <div class="shop_row">
            {% for restaurant in restaurants %}
            <div class="shop">
                <img alt="логотип магазина" src="/media/{{restaurant.img}}" style="background-color: {{restaurant.background_color}}">
                <h4>{{restaurant.name}}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}