{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/product.css'%}">
{% endblock %}
{% block title %}
{{ all_products.name }}
{% endblock %}
{% block content %}
<div class="product_table">
    <div class="photo">
        <img src="/media/{{ all_products.img }}" alt="Картинка продукта" height="400">
    </div>
    <div class="product_info">
        <h2>{{ all_products.name }}</h2>
        <h4>{{ all_products.description }}. Магазин: {{ all_products.shop }}</h4>
        <h5>{{ all_products.price }} руб</h5>
        <div class="buttons">
            <button>
                Добавить в корзину
            </button>
            <button>
                Купить сразу
            </button>
        </div>

    </div>
</div>
{% endblock %}