{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
{% endblock %}
{% block title %}
{{ all_products.name }}
{% endblock %}
{% block content %}
<div class="all">
    <aside>
        <ul>
            <li>
                <a onclick="change_block(this)">Безопасность</a>               
            </li>
            <li>
                <a onclick="change_block(this)">
                    Создать магазин
                </a>
            </li>
            <li>
                <a href="/logout">
                    выйти
                </a>
            </li>
        </ul>
    </aside>
    <div class="profile_settings">
        <div style="position: relative; width: 100%">
            <div class="safety">
                <div class="change_login">
                    <input type="text" id="login" name="change_login">
                </div>
                <div class="change_password1">
                    <input type="password" id="password1" name="change_password1">
                </div>
                <div class="change_password2">
                    <input type="password" id="password2" name="change_password2">
                </div>
                <button id="safe">сохранить изменения</button>
            </div>
            <div class="create_shop invise">
                <button id="create_shop">создать магазин</button>
                {% for shop in shops %}
                <form action="/update/{{ shop.id }}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="name" value="{{ shop.name }}">
                    <input type="color" name="color" value="{{ shop.background_color }}">
                    <input type="text" name="url"  value="{{ shop.url }}">
                    <input type="file" name="file"  value="{{ shop.img }}">
                    <a onclick="window.open('/add_products/{{ shop.id }}')">продукты</a>
                    <input type="submit" value="save">
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}