html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(41,250,255);
    background: linear-gradient(90deg, rgba(41,250,255,1) 0%, rgba(0,138,255,1) 35%, rgba(179,0,255,1) 100%);
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search_frame {
    display: flex;

}
.search_group {
    background-color: orange;
    border-radius: 15px;
}
.search_form {
    padding: 5px;
    height:100%;
}
