html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}
header {
    padding: 5px;
}
.search_frame {
    height: 100%;
    flex-grow: 1;
}

.search_form {
    padding: 5px;
    height: 2rem;
    width: max-content;
    background-color: rgba(220, 220, 220);
    border-radius: 15px;
}

.header_settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 15px;
}

.search_panel {
    width: 264.781px;
    background-color: rgb(192, 192, 192);
    position: absolute;
    margin-top: 3px;
    border-radius: 15px;
    display: none;
    flex-direction: column;
}
.item_mini:hover {
    background-color: rgba(0, 0, 0, 0.11);
    cursor: pointer;
}
.item_mini {
    display: flex;
    align-items: center;
    margin: 5px;
    height: fit-content;



}
.item_mini h5 {
    flex-grow: 1;
    margin: 0;
}
.item_mini h6 {
    margin: 0;
}
